<div class="">
    <div class="">Hello <%= name %>,</div>
    <div class="">
        <p>We've received a request to reset your password.</p>
    </div>
    <div class="">Here's your new password: <span style="color: crimson"><%= password %></span></div>
    <strong><small>** Please change your password after successfully accessing your account **</small></strong>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= project_name %></div>
</div>