<div class="">
    <div class="">Hello <%= userName %>,</div>
    <div class="">Please enter the below OTP for reveal private key
        <p style="color: rgb(46, 12, 19)">
            <strong><%= otp %></strong>
        </p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class=""><%= project_name %></div>
</div>